html, body {
    height: 100%;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

body.init {
    background-color: darkgray;
}

.help {
    position: absolute;
    bottom: 1.4vmin;
    left: 1.4vmin;
    text-align: left;
    font-size: 3.4vmin;
}

.help a {
    padding-left: 7vmin;
    background: url("data:image/gif;base64,R0lGODlhEAAQAPIAADMzM/QEAH27d/b1B5mc99fX1wAAAAAAACH5BAEAAAYALAAAAAAQABAAAAMvaLqw/q7BaSR99kYNuv8ZUIxkWUjiaY7E2IieKRTBWbl4OrhKupIhEEhDLBqPkAQAOw==") left center / 5vmin auto no-repeat;
}

#help-dialog {
    font-size: 1.8vmin;
}

.author {
    position: absolute;
    bottom: 1.4vmin;
    right: 1.4vmin;
    text-align: right;
    font-size: 3.4vmin;
}

.author a {
    padding-left: 5vmin;
    background: url("data:image/gif;base64,R0lGODlhEAAQAPEBADMzM////wAAAAAAACH5BAEAAAIALAAAAAAQABAAAAInFI6ZhqH9glMyyosp3rXxnXygJ3bk9wBiOB1ZOnGpis70O8sIY+8FADs=") left top / 3vmin auto no-repeat;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #help-dialog p {
        display: none;
    }
}
